#day header {
  display: flex;
  text-align: center;
  align-items: flex-start;
}

#day nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 10px;
}

#day .date-picker {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 250px;
}

#day .date-picker button {
  width: 30px;
  height: 30px;
}

#day .date-picker .date {
  width: 165px;
}

#day .sessions {
  list-style: none;
  padding: 0;
}

#day .session {
  background: #eee;
  display: flex;
  min-height: 30px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
}

#day .session [type="checkbox"] {
  width: 24px;
  height: 24px;
}

#day .session .time {
  margin-left: 10px;
  width: 100px;
}

#day .session .people {
  flex-grow: 1;
}
